* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hidden {
  display: none;
}

.search-wrap {
  display: flex;
  align-items: center;
  background-color: #153594;
  padding: 5px;
}

.search-form {
  display: flex;
  text-align: center;
  margin: auto;
}

.search-form input[type="text"] {
  flex: 1;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.search-form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 10px;
}

.material-symbols-outlined {
  font-size: 20px;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.photo-card {
  flex: 0 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery__image-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  text-align: center;
}

.info-item {
  margin: 5px 0;
}

.load-more-btn-wrap {
  position: relative;
}

.load-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  bottom: 10px;
  background-color: #153594;
  color: #fff;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #091a4a;
}